---
title: Footer
intro: Generic footer
---

<div class="fb-footer">

	<div class="fb-footer-carriers-wrapper">
		
		<ul class="fb-footer-carriers">
			<li class="fb-footer-carrier">A</li>
			<li class="fb-footer-carrier">B</li>
		</ul>

	</div>

	<div class="fb-footer-wrapper">

		<div class="fb-footer-notice">
			NOTICE
		</div>
		<div class="fb-footer-copyright">
			COPYRIGHT PRIVACY
		</div>
	</div>

</div>