---
title: Footer
intro: Generic footer
---

<div class="fb-footer">

	<div class="fb-footer-carriers-wrapper">
		
		<ul class="fb-footer-carriers">
			<li class="fb-footer-carrier"><span class="fb-icon-carrier fb-icon-carrier-KL">KLM</span></li>
			<li class="fb-footer-carrier"><span class="fb-icon-carrier fb-icon-carrier-AF">Airfrance</span></li>	
			<li class="fb-footer-carrier"><span class="fb-icon-carrier fb-icon-carrier-PE">Air Europe</span></li>
			<li class="fb-footer-carrier"><span class="fb-icon-carrier fb-icon-carrier-RO">Tarom</span></li>
		</ul>

        
        
	</div>

	<div class="fb-footer-wrapper">

		<div class="fb-footer-notice">
			NOTICE
		</div>
		<div class="fb-footer-copyright">
			COPYRIGHT PRIVACY
		</div>
	</div>

</div>