---
title: Style Components
intro: Style elements like typography and buttons.
---

<script>
    // TODO: THIS COMES FROM CMS OR INNERLINE
    define("fb/nls/generic", {
        "root": {
            "show" : "Show",
            "hide" : "Hide"
        }
    });
</script>


<div class="fb-row">
    <div class="fb-row-indent">
        <div class="fb-grid-span12">

            <h2 class="fb-h4">Buttons</h2>

            <p>
                <button class="fb-btn"><span>Default button</span></button>
            </p>

            <p>
                <a href="#" class="fb-btn"><span>Default button</span></a>
            </p> 



            <h3 class="fb-h4">Login form</h3>

            <div class="fb-login-wrapper">
              <input type="text" class="fb-login-field fb-login-field-username" placeholder="Gebruikersnaam" />
              <input type="password" class="fb-login-field fb-login-field-password js-fb-init" placeholder="Wachtwoord" data-path="fb/form-login" />
            </div>


        </div>
    </div>
</div>

