---
title: Grid
intro: Main responsive grid
---

<style>
	.fb-row { margin-bottom: 12px; }
	.docs-fb-row { background-color: #eee; padding-top: 5px; padding-bottom: 5px; min-height: 14px; }
</style>

<div class="fb-row docs-fb-row">
	Row 
</div>

<div class="fb-row">
	<div class="fb-row-indent">
		<div class="fb-grid-span12 docs-fb-row">Indented row </div>
	</div>
</div>

<div class="fb-row">
	<div class="fb-grid-span8 docs-fb-row">Block 8-12</div>
	<div class="fb-grid-span4 docs-fb-row">Block 4-12</div>
</div>

<div class="fb-row">
	<div class="fb-grid-span9 docs-fb-row"></div>
	<div class="fb-grid-span3 docs-fb-row"></div>
</div>

<div class="fb-row">
	<div class="fb-grid-span4 docs-fb-row"></div>
	<div class="fb-grid-span4 docs-fb-row"></div>
	<div class="fb-grid-span4 docs-fb-row"></div>
</div>

<div class="fb-row">
	<div class="fb-grid-span3 docs-fb-row"></div>
	<div class="fb-grid-span3 docs-fb-row"></div>
	<div class="fb-grid-span3 docs-fb-row"></div>
	<div class="fb-grid-span3 docs-fb-row"></div>
</div>

<div class="fb-row">
	<div class="fb-grid-span6 docs-fb-row"></div>
	<div class="fb-grid-span6 docs-fb-row"></div>
</div>


<div class="fb-row">
	<div class="fb-grid-span6">
		<div class="fb-row">
			<div class="fb-grid-span6 docs-fb-row"></div>
			<div class="fb-grid-span6 docs-fb-row"></div>
		</div>
	</div>
	<div class="fb-grid-span6">
		<div class="fb-row">
			<div class="fb-grid-span6 docs-fb-row"></div>
			<div class="fb-grid-span6 docs-fb-row"></div>
		</div>		
	</div>
</div>




