---
title: Language selector
intro: Module language selector. Load module only when user clicks on it, using generic initcomponents. Then initialize it and build the UX.
---


<div class="fb-row docs-fb-row">
    <div class="fb-grid-span12">

        <p>
        <a href="#" class="js-fb-init js-fb-select-language" 
            data-components='[{
                "path": "fb/select-language",
                "initOn": "click",
                "lang": "nl"
            }]'>Select language</a>
        </p>

        <p>
        DONE:
        - start main application when user clicks on button
        </p>

        <p>
        TODO: 
        - introduce i18n labelsheet used for JavaScript.
        - create panel to show our UX
        - feed container with use of json
        - create sprite using all flags
        - make it behave responsive
        </p>

    </div>
</div>