---
title: External libraries
intro: AMD library modules & version used. Upgrade when new stable version comes out and make sure your AMD setup stays the same.
---

<div class="fb-row">

	<h2>Overview</h2>

	<p>Angular is an interesting framework with the full stack. We know our html/css will survive and our dependencies are:</p>

	<ul>
		<li>RequireJS 2.1.11</li>
		<li>jQuery 1.11.0</li>
		<li>Backbone 1.1.2</li>
		<li>Lodash 2.4.1</li>
		<li>Text 2.0.10</li>
		<li>i18n 2.0.4</li>
	</ul>

	<h2>Grunt</h2>

	<p>Check package.json in our root for knowing when to upgrade parts in our building process. If we upgrade requireJS make sure to upgrade R.js in our build as well.</p>


</div>
