---
title: Pubsub
intro: Pubsub can be used for cross module communication. It's not intended for internal module usage.
---

<div class="fb-row">

    <h2 class="fb-h3">Example module1 publishes module1.buttonclick</h2>

    <div class="module1 docs-controls">
        <button id="module1_btn" class="fb-btn fb-btn-primary"><span>publish</span></button>
        <button id="module1_btn_unsubscribe" class="fb-btn"><span>unsubscribe</span></button>
    </div>

    <p>log</p>

    <div id="docs-log" class="docs-log">

    </div>

</div>

<script>
    require(['fb/jquery', 'fb/pubsub'], function ($, $pubsub) {
        
        // PUBLISHER
        function handleButtonClick(e) {
            e.preventDefault();

            // publish
            $pubsub.publish('module1:buttonclick', 'some data');
        }

        $('#module1_btn').on('click', handleButtonClick);



        // SUBSCRIBER

        function handleModule1ButtonClick(e, data) {
            $('#docs-log').append('<p>Module1 published <strong>' + data + '</strong> with event: <strong>' + e + '</strong></p>'); 
        }

        // subscribe
        $pubsub.subscribe('module1:buttonclick', handleModule1ButtonClick);


        // unsubscribe
        function handleUnsubscribe(e) {
            e.preventDefault();

            // unsubscribe using eventtype and handler
            $pubsub.unsubscribe('module1:buttonclick', handleModule1ButtonClick);
        }

        $('#module1_btn_unsubscribe').on('click', handleUnsubscribe);


    });
</script>
