---
title: Grid
intro: Main responsive grid
---
<style>
    /* for demo code only */
    .docs-sprite-carriers .fb-icon-carrier,
    .docs-sprite-carriers .fb-icon-carrier-small { float: left; border: 1px solid #eee; margin: 0 10px 10px 0; }

</style>

<div class="fb-row docs-sprite-carriers">

    <h2>Carrier sprite normal</h2>

    <p class="fb-clear">
        <span class="fb-icon-carrier fb-icon-carrier-KL"></span>
        <span class="fb-icon-carrier fb-icon-carrier-AF"></span>
        <span class="fb-icon-carrier fb-icon-carrier-PE"></span>
        <span class="fb-icon-carrier fb-icon-carrier-RO"></span>
    </p>

    <h2>Carrier sprite small</h2>

    <p class="fb-clear">
        <span class="fb-icon-carrier-small fb-icon-carrier-small-KL"></span>
        <span class="fb-icon-carrier-small fb-icon-carrier-small-AF"></span>
        <span class="fb-icon-carrier-small fb-icon-carrier-small-PE"></span>
        <span class="fb-icon-carrier-small fb-icon-carrier-small-RO"></span>
    </p>

</div>
