---
title: Style Components
intro: Style elements like typography and buttons.
---

<div class="fb-row">

<p>
	<button class="fb-btn"><span>Default button</span></button>
</p>

<p>
	<a href="#" class="fb-btn"><span>Default button</span></a>
</p> 

</div>