---
title: Typography
intro: Used titles, text and links. Also article layout.
---
<style>
	.fb-row-marge { margin-bottom: 24px; }
</style>

<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span12">

		<h1 class="fb-h1">fb-h1: Quisque in laoreet sapien, et gravida lectus</h1>
		<p>Duis ac viverra nunc, quis mollis ipsum. Praesent faucibus nisi et luctus scelerisque. Sed id nisi quis erat interdum elementum ut vitae libero. Ut consequat neque non sem rhoncus vestibulum.</p>
		<h2 class="fb-h2">fb-h2: Quisque in laoreet sapien, et gravida lectus</h2>
		<p>Duis ac viverra nunc, quis mollis ipsum. Praesent faucibus nisi et luctus scelerisque. Sed id nisi quis erat interdum elementum ut vitae libero. Ut consequat neque non sem rhoncus vestibulum.</p>
		<h3 class="fb-h3">fb-h3: Quisque in laoreet sapien, et gravida lectus</h3>
		<p>Duis ac viverra nunc, quis mollis ipsum. Praesent faucibus nisi et luctus scelerisque. Sed id nisi quis erat interdum elementum ut vitae libero. Ut consequat neque non sem rhoncus vestibulum.</p>
		<h4 class="fb-h4">fb-h4: Quisque in laoreet sapien, et gravida lectus</h4>
		<p>Duis ac viverra nunc, quis mollis ipsum. Praesent faucibus nisi et luctus scelerisque. Sed id nisi quis erat interdum elementum ut vitae libero. Ut consequat neque non sem rhoncus vestibulum.</p>
		<h5 class="fb-h5">fb-h5: Quisque in laoreet sapien, et gravida lectus</h5>
		<p>Duis ac viverra nunc, quis mollis ipsum. Praesent faucibus nisi et luctus scelerisque. Sed id nisi quis erat interdum elementum ut vitae libero. Ut consequat neque non sem rhoncus vestibulum.</p>

		</div>
	</div>
</div>



<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span12">
		
      <div>
        <div title="Code: 0xe803"><i class="fb-icon-search"></i> <span class="i-name">icon-search</span><span>0xe803</span></div>
        <div title="Code: 0xe80d"><i class="fb-icon-youtube"></i> <span class="i-name">icon-youtube</span><span>0xe80d</span></div>
        <div title="Code: 0xe801"><i class="fb-icon-picture"></i> <span class="i-name">icon-picture</span><span>0xe801</span></div>
        <div title="Code: 0xe800"><i class="fb-icon-ok"></i> <span class="i-name">icon-ok</span><span>0xe800</span></div>
      </div>
      <div>
        <div title="Code: 0xe804"><i class="fb-icon-eye-off"></i> <span class="i-name">icon-eye-off</span><span>0xe804</span></div>
        <div title="Code: 0xe805"><i class="fb-icon-tags"></i> <span class="i-name">icon-tags</span><span>0xe805</span></div>
        <div title="Code: 0xe806"><i class="fb-icon-attention-alt"></i> <span class="i-name">icon-attention-alt</span><span>0xe806</span></div>
        <div title="Code: 0xe807"><i class="fb-icon-attention"></i> <span class="i-name">icon-attention</span><span>0xe807</span></div>
      </div>
      <div>
        <div title="Code: 0xe802"><i class="fb-icon-mail"></i> <span class="i-name">icon-mail</span><span>0xe802</span></div>
        <div title="Code: 0xe80a"><i class="fb-icon-angle-right"></i> <span class="i-name">icon-angle-right</span><span>0xe80a</span></div>
        <div title="Code: 0xe809"><i class="fb-icon-angle-double-right"></i> <span class="i-name">icon-angle-double-right</span><span>0xe809</span></div>
        <div title="Code: 0xe80b"><i class="fb-icon-flight"></i> <span class="i-name">icon-flight</span><span>0xe80b</span></div>
      </div>
      <div>
        <div title="Code: 0xe80e"><i class="fb-icon-facebook"></i> <span class="i-name">icon-facebook</span><span>0xe80e</span></div>
        <div title="Code: 0xe810"><i class="fb-icon-gplus"></i> <span class="i-name">icon-gplus</span><span>0xe810</span></div>
        <div title="Code: 0xe80c"><i class="fb-icon-linkedin"></i> <span class="i-name">icon-linkedin</span><span>0xe80c</span></div>
        <div title="Code: 0xe80f"><i class="fb-icon-twitter"></i> <span class="i-name">icon-twitter</span><span>0xe80f</span></div>
      </div>
      <div>
        <div title="Code: 0xe808"><i class="fb-icon-phone"></i> <span class="i-name">icon-phone</span><span>0xe808</span></div>
      </div>
    </div>

		</div>
	</div>
</div>






<div class="fb-row">
	<h4 class="fb-h3 fb-row-indent">fb-h3: Quisque in laoreet sapien, et gravida lectus</h4>
</div>

<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span8 docs-fb-row">
			<p>Suspendisse ut quam leo. Cras leo libero, fringilla lacinia lectus nec, feugiat blandit metus. In vitae lobortis nisl, eu sollicitudin purus. In nec convallis odio. Donec mollis metus eget placerat ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam posuere eros velit, quis feugiat urna molestie in. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris accumsan pretium magna sit amet tincidunt. Integer adipiscing elementum sapien, rhoncus bibendum lacus suscipit sit amet. Morbi convallis hendrerit ornare. Mauris ac elementum nunc. Nulla fringilla sem vel lorem imperdiet euismod.</p>
		</div>
		<div class="fb-grid-span4 docs-fb-row">
    		<span data-srcset="http://dummyimage.com/480x320/000/fff.png 480w, http://dummyimage.com/600x400/000/fff.png 1x, http://dummyimage.com/600x400/000/fff.png 2x" class="js-fb-img fb-img-lazy fb-img-ratio-3-2" data-img-type="lazy"></span>
		</div>
	</div>
</div>



<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span8 docs-fb-row">
			<h4 class="fb-h4">fb-h4: Quisque in laoreet sapien, et gravida lectus</h4>
			<p>Suspendisse ut quam leo. Cras leo libero, fringilla lacinia lectus nec, feugiat blandit metus. In vitae lobortis nisl, eu sollicitudin purus. In nec convallis odio. Donec mollis metus eget placerat ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam posuere eros velit, quis feugiat urna molestie in. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris accumsan pretium magna sit amet tincidunt. Integer adipiscing elementum sapien, rhoncus bibendum lacus suscipit sit amet. Morbi convallis hendrerit ornare. Mauris ac elementum nunc. Nulla fringilla sem vel lorem imperdiet euismod.</p>
		</div>
		<div class="fb-grid-span4 docs-fb-row">
    		<span data-srcset="http://dummyimage.com/480x320/000/fff.png 480w, http://dummyimage.com/600x400/000/fff.png 1x, http://dummyimage.com/600x400/000/fff.png 2x" class="js-fb-img fb-img-lazy fb-img-ratio-3-2" data-img-type="lazy"></span>
		</div>
	</div>
</div>



<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span12">

    		<span data-srcset="http://dummyimage.com/936x200/000/fff.png 1x" class="js-fb-img fb-img-banner-large" data-img-type="background"></span>

		</div>
	</div>
</div>


<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">

		<h3 class="fb-h2">Modern browsers equalize text over columns</h3>

		<div class="fb-grid-span12 fb-column-text-2">

Vestibulum nec odio nunc. Sed sollicitudin fermentum magna, ut pulvinar tortor bibendum nec. Praesent consectetur porta lorem, vitae fringilla dolor sodales sagittis. In eu elit convallis, tristique risus vel, ultricies dui. Maecenas eu orci suscipit, scelerisque odio non, accumsan augue. Donec placerat egestas purus at sollicitudin. Quisque in laoreet sapien, et gravida lectus. Integer fringilla luctus venenatis.<br />Proin nec metus varius, posuere metus in, facilisis quam. Proin sodales imperdiet nibh, sed semper nunc. Sed sit amet tortor id dui egestas vulputate eu ac nisi. In blandit vehicula dolor, ac mollis enim rutrum sit amet. Maecenas lobortis, leo molestie porttitor dapibus, risus mauris dapibus nulla, id rhoncus mauris sem ut elit. Duis vehicula tempor felis, lobortis imperdiet lectus imperdiet vel. Proin consequat iaculis turpis ac pharetra. Donec ac neque metus.

		</div>
	</div>
</div>

<div class="fb-row fb-row-marge">
	<div class="fb-row-indent">
		<div class="fb-grid-span12 fb-column-text-3">

Vestibulum nec odio nunc. Sed sollicitudin fermentum magna, ut pulvinar tortor bibendum nec. Praesent consectetur porta lorem, vitae fringilla dolor sodales sagittis. In eu elit convallis, tristique risus vel, ultricies dui. Maecenas eu orci suscipit, scelerisque odio non, accumsan augue. Donec placerat egestas purus at sollicitudin. Quisque in laoreet sapien, et gravida lectus. Integer fringilla luctus venenatis.<br />Proin nec metus varius, posuere metus in, facilisis quam. Proin sodales imperdiet nibh, sed semper nunc. Sed sit amet tortor id dui egestas vulputate eu ac nisi. In blandit vehicula dolor, ac mollis enim rutrum sit amet. Maecenas lobortis, leo molestie porttitor dapibus, risus mauris dapibus nulla, id rhoncus mauris sem ut elit. Duis vehicula tempor felis, lobortis imperdiet lectus imperdiet vel. Proin consequat iaculis turpis ac pharetra. Donec ac neque metus.

		</div>
	</div>
</div>






<script>
	// TODO: MOVE TO GENERIC PAGE FOOTER!!
	require(["fb/img-responsive"], function ($Image) {
		$Image.init({threshold: 300});
	});
</script>