/* VARS */
$text-color: #051039;
$link-color: #24A1DB;
$title-color-h1: #042452;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-grid: 700px;

/* MIXINS */




html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    padding: 0;
    margin: 0;
}

body {
    color: $text-color;
    font: 13px/1.6 Helvetica, Arial, sans-serif;
    background: #fff;
    padding: 10px 0 0 0;
    margin: 0;
}

a,
a:visited {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* CLEARFIX */
.fb-clear:before,
.fb-clear:after,
.fb-row:before,
.fb-row:after {
    content: " ";
    display: table;
}

.fb-clear:after,
.fb-row:after {
    clear: both;
}

.lt-ie8 .fb-clear,
.lt-ie8 .fb-row {
    zoom: 1;
}

/* HIDDEN */
.fb-hidden { 
    display: none !important;
    visibility: hidden;
}


/* MAIN RESET, TRY TO SET YOURSELF WHEN PART BECOMES WIDGET */

div, p, h1, h2, h3, h4, h5, input, td, tr, ol, ul {
    margin: 0;
    padding: 0;
}

a img,
table {
    border: 0;
}
p { margin-bottom: 1em; }

.fb-logo {
    width: 234px;
}
@media screen and (max-width: $breakpoint-mobile) {
    .fb-logo { width: 162px; }
}

/* PRINTING */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow:none !important;
        text-shadow: none !important;
    }
}

/* BIG BANNER FOOTER BACKGROUND IMAGE */
.fb-img-banner-large {
    width: 100%;
    height: 200px;
    display: block;
    background-position: center 0;
    background-repeat: no-repeat;
}


