/* VARS */
$text-color: #333;

/* MIXINS */




html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    padding: 0;
    margin: 0;
}

body {
    color: $text-color;
    font: 12px/1.5 verdana, arial;
    background: #fff;
    padding: 10px 0 0 0;
    margin: 0;
}

a,
a:visited {
    color: #042452;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* CLEARFIX */
.fb-clear:before,
.fb-clear:after,
.fb-row:before,
.fb-row:after {
    content: " ";
    display: table;
}

.fb-clear:after,
.fb-row:after {
    clear: both;
}

.lt-ie8 .fb-clear,
.lt-ie8 .fb-row {
    zoom: 1;
}

/* HIDDEN */
.fb-hidden { 
    display: none !important;
    visibility: hidden;
}


/* MAIN RESET, TRY TO SET YOURSELF WHEN PART BECOMES WIDGET */

div, h1, h2, h3, h4, h5, input, td, tr, ol, ul {
    margin: 0;
    padding: 0;
}

a img,
table {
    border: 0;
}

.fb-logo {
    width: 234px;
}
@media screen and (max-width: 480px) {
    .fb-logo { width: 162px; }
}

/* PRINTING */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow:none !important;
        text-shadow: none !important;
    }
}





