/* TODO: MOVE TO SASS */

body, html { padding: 0; margin: 0; }

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    color: #333;
    font: 12px/1.5 verdana, arial;
    background: #fff;
}

a,
a:visited {
    color: #042452;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.fb-hidden { 
	display: none!important;
}

